.transactionHistory {
  background-color: #fff;
  width: 400px;
  text-align: center;
  margin-bottom: 50px;
}

.transactionTableHead {
  background-color: #bada55;
}

.transactionTableRow:nth-child(odd) {
  background-color: #ccccc7;
}

.transactionTableRow:nth-child(even) {
  background-color: #ecbd96;
}

.transactionTableHeadCell {
  padding: 10px;
}

.transactionTableCell {
  padding: 10px;
  text-align: center;
  margin: auto;
}
